html,
body {
  background: getColour(background-colour);
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-family: Open Sans;
  color: getColour(heading-colour);
  font-weight: normal;
}

.wrapper {
  flex: 1 0 auto;
}
