body {
  background: getColour(background-colour);
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-family: Open Sans;
  color: getColour(heading-colour);
  font-weight: normal;
}
