.bg-light {
  background-color: getColour(header-colour) !important;
}

.navbar-brand {
  color: getColour(brand-colour) !important;
  font-size: 36px;
  font-family: Open Sans;
  margin-left: 10%;
}

.navbar-nav {
  margin-right: 11%;
}

.nav-link {
  color: getColour(navlink-colour) !important;
  font-size: 18px;
}

.nav-link.active {
  color: getColour(primary-colour) !important;
}

@media only screen and (max-width: 991px) {
  .navbar-nav {
    margin-left: 10% !important;
  }
}
